
.sidebar {
   /* display: none;*/
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.main {
    padding: 20px;
    padding-bottom: 1000px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.breakpoint-current {
    left: 0;
    margin-top: -10px;
    position: fixed;
   /* top: 33.3333%; */
    width: 3px;
    height: 3px;
    background: red;;
}

.viewing {
    background: #eee;
}

section {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    min-height:50px;
}

.container {
    margin-bottom: 30px;
}

//Sortable
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.sortable {
    list-style: none;
}

ul.sortable li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.sortable li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.navbar-fixed-top {
    z-index: 100;
    background-color: #3e3f3a;
    border-color: #3e3f3a;
}

.navbar-fixed-top .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #393a35;
}

.navbar-fixed-top .navbar-brand {
    color: #ffffff;
}

.navbar-fixed-top .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-fixed-top .navbar-nav > li > a {
    color: #98978b;
}